* {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

header {
	background: #404041;
}

h1 {
	display: inline;
	font-size: 320%;
	color: #E6E7E8;
	font-weight: 300;
}

.styled {
	color: #ED458B;
	font-weight: 700;
}

hr {
    border: 0;
    height: 7px;
    background: #D0D2D3;
    background-image: -webkit-linear-gradient(left, #ED458B, #D0D2D3, #D0D2D3, #ED458B); 
}

input[type=number]::-webkit-inner-spin-button { 
	-webkit-appearance: none;
}

input:focus {
	outline: none;
}    

::placeholder {
	color: #D0D2D3;
	font-size: 140%;
	padding-left: 10px;
	text-align: left;
}

#getGuess {
	border: #D0D2D3 2px solid;
	color: #EB008B;
	display: block;
	font-size: 140%;
	height: 40px;
	margin: 25px auto;
	text-align: center;
	width: 350px;
}

#setMinimum,
#setMaximum {
	color: #EB008B;
	font-size: 80%;
	height: 35px;
	width: 130px;
}

.userSet {
	font-size: 120%;
	height: 35px;
	width: 300px;
}

p {
	color: #404041;
	font-size: 150%;
	text-align: center;
}

span {
	color: #EB008B;
	font-weight: 700;
}

#levelUp {
	font-size: 150%;
}

#display {
	font-size: 500%;
}

button {
	background: #929497;
	border: none;
	border-radius: 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 150%;
	height: 40px;
	margin: 10px 20px;
	width: 150px;
}

button:hover {
	background-color: #EB008B;
}

button:disabled{
	background: #D0D1D3;
	cursor: default;
}

.reset {
  	border: none;
  	border-radius: 20px;
  	color: #FFFFFF;
  	font-size: 150%;
	height: 40px;
  	margin: 10px;
	width: 350px;
}


